:root {
    --bg-secondary: #f0f0f0;
    --color-primary: #4f46e5;
    --color-success: #2ecc71;
    --color-danger: #e74c3c;
}

.progressContainer {
  width: 100%;
  height: 6px;
  background-color: var(--bg-secondary);
  border-radius: 3px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.primary {
  background-color: var(--color-primary);
}

.success {
  background-color: var(--color-success);
}

.danger {
  background-color: var(--color-danger);
}
