version: "2.1"

services:
  app:
    image: baealex/ocean-brain:latest
    # build:
    #   context: .
    #   dockerfile: ./Dockerfile
    volumes:
      - ./data:/data
      - ./assets:/assets
    ports:
      - 6683:6683
