name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**'
  pull_request:
    branches:
      - main
    paths:
      - 'packages/**'
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install pnpm
        run: npm install -g pnpm@10.25.0

      - name: Install dependencies
        run: pnpm install

      - name: Prisma Generate
        run: pnpm --filter @ocean-brain/server exec prisma generate

      - name: Lint
        run: pnpm --parallel -r run --if-present lint

      - name: Type Check
        run: pnpm --parallel -r run --if-present type-check

      - name: Build
        run: pnpm build
