name: CI

on:
  push:
    branches:
      - main
    paths:
      - 'server/src/**'
  pull_request:
    branches:
      - main
    paths:
      - 'server/src/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install pnpm
      run: npm install -g pnpm@10.15.0

    - name: Install (Server)
      run: pnpm i
      working-directory: server/src

    - name: Lint (Server)
      run: pnpm run lint
      working-directory: server/src

    - name: Prisma Generate
      run: pnpm run prisma:generate
      working-directory: server/src

    - name: Type Check (Server)
      run: pnpm run type-check
      working-directory: server/src

    - name: Build (Server)
      run: pnpm run build
      working-directory: server/src

    - name: Install (Client)
      run: pnpm i
      working-directory: server/src/client

    - name: Lint (Client)
      run: pnpm run lint
      working-directory: server/src/client

    - name: Type Check (Client)
      run: pnpm run type-check
      working-directory: server/src/client

    - name: Build (Client)
      run: pnpm run build
      working-directory: server/src/client
